*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Home-btn{
  width: 100vw;
  height: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home-btn button{
  width: 170px;
  height: 30px;
  position: relative;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(239, 231, 231);
  background-color: black;
  transition: 0.5s;
}
#Home-btn button:hover{
  cursor: pointer;
  border-radius: 5px;
  background-color: #252525;
}
@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
#Home-btn button::before{
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  background-image:conic-gradient(from var(--angle), transparent 0%, red,blue,red);
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  animation: effect 3s linear infinite;
}
@keyframes effect{
  0%{
      --angle:0deg;  
  }
  100%{
    --angle:360deg;
  }
}
#Home-btn button::before{
  filter: blur(1px);
}

#AIText{
  width: 100vw;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#input-Box{
  width: 80vw;
  height: 100%;
}

#AIText input{
  width: 70%;
  height: 30px;
  border-radius: 5px;
  padding: 0 5px;
  margin-top: 20px;
  font-size: 15px;
  border: 2px dotted rgb(237, 231, 231);
  color: white;
  background-color: rgb(61, 58, 58);
}
#AIText button{
  width: 50px;
  height: 30px;
  font-size: 18px;
  font-weight: 600;
  flex-basis: 10%;
  border: 2px solid rgb(38, 7, 97);
  border-radius: 5px;
  background-color: rgb(144, 0, 255);
  box-shadow: 0 0 15px rgb(35, 7, 7) ;
  margin: 0 10px; 
}
#AIText button:hover{
  background-color: rgb(81, 10, 143);
  cursor: pointer;
}
#output-Box-Head{
  width: 100vw;
  height: 100%;
  display: none;
}
.output-Box{
  margin-top: 30px;
  width: 100vw;
  height: 100%;
  display: flex !important; 
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}
.output-Box{
  display: none;
}
.output-Box h3{
  text-align: center;
}
.output-Box p{
  width: 80%;
  height: 100%;
  margin-top: 10px;
  border: 2px dotted gray;
  border-radius: 2px;
  padding: 5px 10px;
  line-height: 25px;
}
.output-Box form{
  margin-top: 30px;
}
.output-Box input{
  width: 350px;
  height: 30px;
  border-radius: 5px;
  padding: 0 5px;
  margin-top: 20px;
  font-size: 15px;
  border: 2px dotted gray;
}
.output-Box button{
  width: 40px;
  height: 30px;
  flex-basis: 10%;
  border: 2px solid violet;
  border-radius: 5px;
  background-color: blueviolet;
  margin: 0 10px; 
}
.output-Box button:hover{
  background-color: rgb(142, 71, 209);
  cursor: pointer;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  background-color: black;
  color: white;
}
html{
  scroll-behavior: smooth;
  transition: 5s;
}
.Icon-email-phone{
  color: red;
  margin: 0 5px
}
.Icon{
  color:rgb(237, 232, 232);
  margin: 0 5px;
}


/* ------------------Header--------------------------- */



#header{
  width: 100%;
  /* height: 10vh; */
  height: 60px;
  /* background-image: url(Img.jpg); */
  background-position: center;
  background-size: cover;
}

#head{
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* padding: 15px 0; */
  color: white;
  font-size: 20px;
}
#head #Menu{
  display: flex;
  justify-content: center;
  align-items: center;
}
#head img{
  width: 150px;
  height: 50px;
  margin: 0;
  color: #9f0e0e;
}
#head ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

#head h1 span{
  color: red;
}

#head #Icon{
  display: none;
}

#head  ul li{
  display: inline-block;
  list-style: none;
  margin: 0 10px;   
}

#head  ul li a{
  text-decoration: none;
  color: white;
  position: relative;
}

#head  ul li a::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: rgb(238, 30, 30);
  position:absolute;
  bottom:-6px;
  left: 0;
  transition: 0.2s;
}

#head  ul li a:hover::after{
  width: 100%;
  cursor: pointer;
}

#head-row{
  /* height: 70vh; */
  height: 50vh;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

#head-col1{
  height: 70vh;
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  background: ul("./Photos/Gif.webp");
  background-repeat: no-repeat;
  background-position: center;
}

#head-col2{
  height: 100%;
  flex-basis: 40%;
}

#head-col2 img{
  height: 50vh;
  width: 100%;
  border-radius: 100%;
  transition: 1s;
}
#head-col2 img:hover{
  transform: scale(1.1);
  border-radius: 100%;
  background: linear-gradient(red,black);
}
#head-row h3{
  color: red;
  text-align: center;
}

#head-col1 h1{
  margin-top: 10px;
}

#head-col1 span{
  color: red;
}

/* -------------about--------------- */
#About{
  width: 100%;
  margin:40px 0;
  /* height: 70vh; */
  height: auto;
  padding: 60px auto; 
}
#about-row{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
}
#about-col-1{
  flex-basis: 35%;
}
#about-col-1 img{
  width: 100%;
  height: 40vh;
  border-radius: 10px;
}
#about-col-2{
  margin-left: 25px;
  flex-basis: 55%;
}
#about-link{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  cursor: pointer;
  color:lightsalmon;
}
.selected{
  position: relative;
  cursor: pointer;    
}
.selected::after{
  content: '';
  width: 70%;
  height: 3px;
  background-color: red;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.about-tab-contant{
  display: none;
}
.about-tab-contant ul li{
  line-height: 30px;
}
.active{
  display: block;
}
.about-tab-link{
  font-size: 20px;
}
.about-tab-contant span{
  color: red;
  font-weight: bolder;
  margin: 30px 0;
}
.about-tab-contant ul{
  list-style: none;
}

/* --------------Service---------------- */

#head-h1{
  margin: 35px 20px;
  font-weight: 1100;
  font-size: 40px;   
}
#about-col-2 h1{
  margin:0 20px ;
  margin-bottom: 20px;
}
#Service-content{
  margin: 10px 30px;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
#Service-content div i{
  font-size: 30px;
  margin-left: 15px;
  
}
#Service-content div{
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(119, 112, 112);
  transition: 0.6s;
  cursor: pointer;
}
#Service-content div:hover{
  background: #b40101;
  transform: translateY(-5px);
}
#Service-content div h1{
  margin: 20px 20px;
  font-weight: 1100;
  font-size: 30px;
}
#Service-content div a{
  text-decoration: none;
  color: aliceblue;
}



/* --------------------Portfolio----------------- */


#work{
  margin: 10px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
.work-id{   
  position: relative;
}
.work-id img{
  width: 100%;
  height: 300px;
  display: block;
  border-radius: 10px;
  transition: 0.5s;
}
.work-id img:hover{
  transform: scale(1.1); 
}
.layer{
  width: 100%;
  height: 50px;
  border-radius: 100px;
  /* border-radius: 10px; */
  background:linear-gradient(rgba(0,0,0,0.6),red);
  position: absolute;
  overflow: hidden;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 110px 20px;
  text-align: center;
  transition: 0.5s; 
}
.work-id:hover .layer{
  height: 100%;
  border-radius: 10px;
  padding: 0 10px;
}
.layer h1{
  margin: 20px auto;
}
.layer a{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: black;
  background-color: aliceblue;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.layer a .Works-Icon{
  color: black;
}
#work-btn{
  display: block;
  margin: 30px auto;
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 2px solid rgb(133, 3, 3);
  font-size: 20px;
  font-weight: 500;
  background-color: black;
  color: aliceblue;
  transition: 0.5s;
  text-decoration: none;
  cursor: pointer;   
}
#work-btn:hover{
  background-color: #b40101;
}


/* ----------------------Contact---------------------- */
#contact{   
  padding-top: 20px;
}
#contact-row{
  display: flex;
}
#cnt-col1{
  margin: 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 35%;
}
#cnt-h1{
  margin: 0px 0;
}
#cnt-col1 p{
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

#cnt-col1 button:hover{
  background-color: #9f0e0e;
  cursor: pointer;
}
.Icon:hover{
  color: gray;
  transform: scale(1.1);
}
/* #social a i{
  color: rgb(202, 30, 30);
  font-size: 25px;
} */
#cnt-btn a{
  cursor: pointer;
  font-size: 35px;
}
#cnt-col1 a button{
  margin: 20px 40px;
  width: 110px;
  height: 40px;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  color: white;
  background-color: red;
  text-decoration: none;  
}

#cnt-col2{
  flex-basis: 60%;
  margin: 10px 20px;
  background: url("./Photos/Earth.webp");
  background-repeat: no-repeat;
}
#cnt-col2:hover{
 
}
#message-Heading{
  font-size: 20px;
  margin-top: 20px;
  animation: message 2s ease-in infinite;
}
@keyframes message{
  from{
    color: red;
  }
  to{
    color: rgb(230, 222, 222);
  }
}
#cnt-col2 input{
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 5px;
  outline: none;
  border: 0;
  color:aliceblue;
  background-color: rgb(50, 45, 45);
}
#cnt-col2 textarea{
  width: 100%;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: 0;
  color:aliceblue;
  background-color: rgb(51, 46, 46);
}
#cnt-col2 button{
  margin: 20px 40px;
  padding: 10px;
  width: 110px;
  height: 40px;
  font-size: 15px;
  border-radius: 10px;
  border: 0;
  color: white;
  background-color: red;
  text-decoration: none; 
  cursor: pointer; 
}
#cnt-col2 button:hover{
  background-color: #9f0e0e;
}

/* ----------------bottom--------------- */


#bottom{
  margin-top: 20px;
  padding: 10px 0;
  background-color: black;
  text-align: center;
}
#bottom i{
  color: red;
}


/* -----------------------Responsiv--------------------- */


@media only screen and (max-width: 600px){
  
  #head ul{
      height: 100vh;
      width: 200px;
      border-radius: 10px;
      font-size: 30px;
      position: fixed;
      z-index: 10;
      top:0;
      right: -200px;
      color:black;
      display: flex;
      justify-content: left;
      flex-direction: column;
      background-color: antiquewhite;
      transition: 0.5s;
  }
  #head #Icon{
      display: block;
      margin-top: 10px;
      font-size: 30px;
  }
  #head  ul li{
      position: relative;
      top: 50px;
      margin: 10px 0;
      list-style: none;
  }
  #head  ul li a{
      text-decoration: none;
      color: rgb(57, 49, 49);
      position: relative;
      left: 0;
  }
  .fa-xmark{
      margin-bottom: 20px;
      position: absolute;
      top: 5px;
      left: 5px;
  }
  #head-row{
      height: 50vh;
      margin: 30px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  #head-col1{
      font-size: 15px;
     
  }
  #head-col2{
      display: flex;
      justify-content: center;
  }
  #head-col2 img{
      width: 80%;
      height: 200px;
      margin: 20px 20px;
  }



  #About{
      width: 100%;
      height: 95vh;
      padding: 60px auto;
  }
  
  #about-row{
      display: flex;
      flex-direction: column;
  }
  #about-col-1{
      width: 70%;
      margin: 20px auto;
  }
  #about-col-2{
      width: 90%;
      margin: 20px auto;
      padding: 5px 10px;
      font-size: 15px;
  }
  
  #about-link{
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
      font-size: 30px;
      cursor: pointer;
      color:lightsalmon;
  }

/* -------------Services---------------- */

  #head-h1{
      font-size: 30px;
  }
  #Service-content div h1{
      margin: 20px 20px;
      font-weight: 1100;
      font-size: 25px;
  }
  #Service-content div i{
      font-size: 25px;
      margin-left: 15px;
      
  }
  #work-btn{
      font-size: 20px;
  }


  /* ---------------------Work---------------------------- */

  .work-id img:hover{
    transform: scale(1); 
  }

  /* --------------------Contact---------------------- */
  
  
  #contact-row{
      display: flex;
      flex-direction: column;
      font-size: 15px;
  }
  #cnt-col1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
  }
  #cnt-col1 p{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
  }
  #cnt-h1{
      font-size: 30px;
  }
  #cnt-col2{
      width: 90%;
  }
  
  #cnt-btn{
      display: flex;
      justify-content: center;
      
  }
  #cnt-col1 a button{  
      margin: 20px -15px;  
      width: 110px;
      height: 40px;
      font-size: 15px;
      border: 0;
      border-radius: 10px;
      color: white;
      background-color: red;
      text-decoration: none;  
  }

  /* -----------bottom----------------- */


  #bottom{
      font-size: 15px;
      padding: 5px 0;
      height: 30px;
  }
}
